
<app-food-dishes></app-food-dishes>
<!-- <div class="container mt-100 flex-row">
  <div class="row">
 <div class="col-md-4 col-sm-6" *ngFor="let dish of dishes">
    <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
      <div class="inner">
         <div class="main-img"><img [src]="dish.imagePath" alt="Category" height="300px" width="300px" ></div>
       </div></a>
     <div class="card-body text-center">
        <h4 class="card-title">{{dish.dishName}}</h4>
        <p class="text-muted">{{dish.dishDescription}}</p>
        <p class="text-muted">${{dish.price}}</p><a class="btn btn-outline-primary btn-sm">Add to Cart</a>
    
    </div>
     </div>
   </div> 
</div>
</div> -->