<div class="main">
  <div class="row">
    <div class="col">
      <div class="mainContent">
        <h1 class="primary-heading">
          Your favourite Food Delivery app <span>FoodYFood</span>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo id unde eveniet, maxime iste esse animi sint nihil ratione! Id.</p>
        <button class="registerBtn" (click)="Explore()">Explore</button>
      </div>
      

    </div>
    <div class="col">
      <div class="imgDiv">
        <img class="mainImg" src="../../../assets/images/main.svg" alt="Delivery Image" >

      </div>
    </div>
  </div>
</div>

<div class="article">
  <div class="row"><h2 class="secondary-heading">About Us</h2></div>
  <div class="row">
    <div class="col iconCol">
      <div class="icon"><i class="bi bi-truck"></i></div>
      <h3 class="tertiary-heading">Fast Delivery</h3>
      <p class="iconP">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, incidunt.</p>
    </div>
    <div class="col iconCol">
      <div class="icon" style="background-color:#E6F9F1"><i class="bi bi-suit-heart"></i></div>
      <h3 class="tertiary-heading">Tasty Food</h3>
      <p class="iconP">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, incidunt.</p>
    </div>
    <div class="col iconCol">
      <div class="icon" style="background-color:#FFF1E0"><i class="bi bi-bag-plus"></i></div>
      <h3 class="tertiary-heading">Easy To Order</h3>
      <p class="iconP">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo, incidunt.</p>
    </div>
  </div>


  <div class="orderNow">
    <div class="row">
      <h2 class="secondary-heading">Order Now</h2>
    </div>
    <div class="row">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vitae numquam doloribus odit recusandae doloremque non consequuntur voluptatum? Repellat reiciendis minus inventore ab dignissimos eum itaque obcaecati magni dolor architecto ipsum quasi culpa vitae.
      </p>
      <div>
        <button class="btn orderBtn" (click)="Explore()">Order Now</button>
      </div>
     
    </div>
    
  </div>
</div>

<footer>
  <p>Create By <a href="mailto:sanketshelke1317@gmail.com">Sanket Shelke</a>  with the help of his best friend <a href="http://www.google.com">Google</a> </p>
</footer>