

<div class="container">
    <div class="row"><h2>Add Dish</h2></div>
    
    <form #loginForm="ngForm" (ngSubmit)="addDish(loginForm)" class="example-form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Dish Name</mat-label>
            <input matInput placeholder="Enter Name" #name="ngModel" name="dishName" [(ngModel)]="dish.dishName" required pattern="[A-Za-z\s]+" minlength="3">
            <mat-error *ngIf="name.errors?.['pattern']">
              Only characters and space allowed
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descrition</mat-label>
            <input matInput placeholder="Enter Descrition" #desc="ngModel" name="dishDescription" [(ngModel)]="dish.dishDescription" required pattern="[A-Za-z\s]+" minlength="3">
            <mat-error *ngIf="desc.errors?.['pattern']">
                Only characters and space allowed
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Image Path</mat-label>
            <input matInput placeholder="Enter Image Path" #imagePath="ngModel" name="imagePath" [(ngModel)]="dish.imagePath" required  minlength="3">
            <!-- <mat-error *ngIf="imagePath.errors?.['pattern']">
              Invalid Name
            </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Ex. 120"  min="10" name="price" [(ngModel)]="dish.price" #price = "ngModel" required>
            <span matSuffix>&#8377;	</span>
            <mat-error *ngIf="price.invalid">Min size: 10</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Add</button>
          <div>
            <a [routerLink]="['/admin']">Go Back to Dishes</a>
          </div>
          </form>
</div> 

          